.avatar {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: var(--principal-verde);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--cinza-6);
  margin-right: 16px;
}

.avatar>img {
  margin-left: 8px;
  cursor: pointer;
}